<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini-Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{url_for('static', filename = '/css/root.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename = 'ai_bot.png')}}" type="image/x-icon">
</head>
<body>
    <header></header>
    <div class="container">
        <div id="logo_desc">
            <img src="{{url_for('static', filename = 'ai_bot.png')}}" alt="">
            <p><span>Gemini Bot</span>: Simple & Light-weight flask based AI bot .</p>
        </div>
        <div id="links">
            <a href="/chat">
                <div class="icon chat">
                    <i class="fa-brands fa-rocketchat"></i>
                </div>
                <p>Use text to text model</p>
            </a>
            <a href="/image_chat">
                <div class="icon image_chat">
                    <i class="fa-regular fa-image"></i>
                </div>
                <p>Use image to text model</p>
            </a>
        </div>
    </div>
</body>
</html>